h1 {
    align-self: auto;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

.mail {
    margin: auto;
    width: 30%;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
}
.mail:link, .mail:visited {
    color: black;
}
.mail:hover, .mail:active {
    color: black;
}

img {
    display: block;
    max-width: 400px;
    margin: auto;
    padding-top: 50px;
}

.info-box {
    margin: auto;
    width: 30%;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
} 

.erfaring {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 30%;
}

body {
    background-color: grey;
    background-image: url(background.jpg);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
    margin-right: 200px;
    margin-left: 200px;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.grid-container > div {
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px;
    padding-left: 10px;
    max-width: 400px;
}

footer {
    background-color: lightblue;
}